.page-header
        h1 Stuff to do...
.row
    .col-xs-2.col-xs-offset-10
        a(ui-sref='create').btn.btn-primary
            span.label Create ToDo
.table-responsive
    table.table.table-bordered.table-striped.table-hover
        thead
            tr
                th Description
                th Category
                th Complete?
                th Due by
                th Actions
        tbody
            tr(ng-repeat='todoItem in todoItems | filter:search')
                td
                    a(ui-sref='edit({id:{{todoItem.id}}})') {{todoItem.name}}
                td {{todoItem.category}}
                td {{todoItem.complete}}
                td {{todoItem.due_by | date:&apos;dd-MMM-yyyy&apos;}}
                td
                    button.btn.btn-danger.btn-xs(ng-click='delete(todoItem.id)')
                        span.glyphicon.glyphicon-remove
                        span.label Delete